services:
  - couchdb
language: node_js
node_js:
  - "0.11"
  - "0.10"
before_script:
  - curl -X PUT localhost:5984/hc
  - "curl -X PUT localhost:5984/hc/config_test -d '{\"foo\": \"bar\"}'"
  - "curl -X PUT localhost:5984/hc/foobar -d '{\"foo\": \"bar\"}'"